*{
    box-sizing: border-box;
}

body{
    background-color: aqua;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
}

.container{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px 20px 25px rgba(0, 0, 0, .3);
    overflow: hidden;
    max-width: 100%;
    width: 500px;
}

.header{
    border-bottom: 1px solid #f0f0f0;
    background-color: #f7f7f7;
    padding: 20px 40px;
}

.form{
    padding: 30px 40px;

}

.form-control{
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
    padding-bottom: 20px;

}

.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input{
    border:2px solid #f0f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}

.form-control input:focus{
    outline:none;
    border-color: #777;
}

.form-control.sucess input{
    border-color: #2ecc71;
}

.form-control.sucess input{
    border-color: red;
}

.form-control i{
    visibility: hidden;
    position: absolute;
    top:40px;
    right: 10px;
}

.form-control .sucess i.fa-check-circle{
    color:#2ecc71;
    visibility: visible;
}

.form-control .error i.fa-exclamation
{
    color:red;
    visibility: visible;
}

.form-control small{
    color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    visibility: hidden;
}

.form-control.error small{
    visibility: visible;
}

.form button{
background-color: #2ecc71;
border: none;
color: white;
display: block;
font-size: 16px;
width: 100%;
margin-top: 20px;
padding: 10px;
border-radius: 4px;
}